<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LPS_Utility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LPS_Utility.Properties.Settings>
            <setting name="SilverWebsite" serializeAs="String">
                <value>https://www.kitco.com/charts/silver</value>
            </setting>
            <setting name="SilverPriceNode" serializeAs="String">
                <value>//*[@id="__next"]/div/main/div[1]/div[3]/div[1]/div[1]/div[1]/div[1]/div[2]/h3</value>
            </setting>
            <setting name="GoldWebsite" serializeAs="String">
                <value>https://www.kitco.com/charts/gold</value>
            </setting>
            <setting name="GoldPriceNode" serializeAs="String">
                <value>//*[@id="__next"]/div/main/div[1]/div[3]/div[1]/div[1]/div[1]/div[1]/div[2]/h3</value>
            </setting>
        </LPS_Utility.Properties.Settings>
    </userSettings>
</configuration>